# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Formulaic Evaluate': 'formulaic:evaluate'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Formulaic'
      'submenu': [
        { 'label': 'Evaluate', 'command': 'formulaic:evaluate' }
      ]
    ]
  }
]
